@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,400;0,700;1,500;1,700&display=swap');

body {
	font-family: 'Azeret Mono', serif;
	background-color: #eee;
}

.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
}

.box {
	height: 100px;
	flex-grow: 1;
}

.one {
	flex-basis: 100px;
	background-color: red;
}

.two {
	flex-basis: 200px;
	background-color: green;
}

.three {
	flex-basis: 300px;
	background-color: blue;
} 